dist: xenial
cache: pip
branches:
  only:
  - master
  - develop
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
language: python
python:
- 3.6
- 3.7
service:
- docker
install:
- python setup.py -q install
script:
- python setup.py -q test

jobs:
  include:
  - stage: ElasticDLTest
    script:
    - echo $MAXCOMPUTE_AK
    - echo $MAXCOMPUTE_SK
    - cd base_image && docker build -t sqlflow/modelzoo_base . && cd ..
    - cd sqlflow_models && docker build -t sqlflow/sqlflow_models . && cd ..
    - curl -s https://raw.githubusercontent.com/sql-machine-learning/elasticdl/4a995fe7eaf91bc5a9d50181e9aaaa14d15c8a09/scripts/setup_k8s_env.sh | bash
    - docker run --rm -it --net=host
      -v $HOME/.kube:/root/.kube
      -v /home/$USER/.minikube/:/home/$USER/.minikube/
      -v /var/run/docker.sock:/var/run/docker.sock
      -v $PWD:/workspace
      -e ODPS_ACCESS_ID=$MAXCOMPUTE_AK
      -e ODPS_ACCESS_KEY=$MAXCOMPUTE_SK
      sqlflow/sqlflow_models bash /workspace/scripts/test_elasticdl_submit.sh
    - sleep 10
    - kubectl get po
    - kubectl logs elasticdl-test-odps-worker-0
    - curl -s https://raw.githubusercontent.com/sql-machine-learning/elasticdl/c7f678e2617d1e0f20683a84275558e5adf8f452/scripts/validate_job_status.sh | bash /dev/stdin odps
