dist: xenial
cache: pip
branches:
  only:
  - master
  - develop
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
language: python
python:
- 3.6
- 3.7
service:
- docker
install:
- python -m pip install --upgrade pip --user
- python -m pip install --upgrade tensorflow==2.0.0
- python setup.py -q install
script:
- python setup.py -q test

jobs:
  include:
  - stage: ElasticDLTest
    script:
    - cd base_image && docker build -t sqlflow/modelzoo_base . && cd ..
    - cd sqlflow_models && docker build -t sqlflow/sqlflow_models . && cd ..
    - curl -s https://raw.githubusercontent.com/sql-machine-learning/elasticdl/4a995fe7eaf91bc5a9d50181e9aaaa14d15c8a09/scripts/setup_k8s_env.sh | bash
    - kubectl apply -f https://raw.githubusercontent.com/sql-machine-learning/elasticdl/develop/elasticdl/manifests/examples/elasticdl-rbac.yaml
    - docker run --rm -it --net=host
      -v $HOME/.kube:/root/.kube
      -v /home/$USER/.minikube/:/home/$USER/.minikube/
      -v /var/run/docker.sock:/var/run/docker.sock
      -v $PWD:/workspace
      -e ODPS_ACCESS_ID=$MAXCOMPUTE_AK
      -e ODPS_ACCESS_KEY=$MAXCOMPUTE_SK
      sqlflow/sqlflow_models bash /workspace/scripts/test_elasticdl_submit.sh
    - docker run --rm -it --net=host
      -v $HOME/.kube:/root/.kube
      -v /home/$USER/.minikube/:/home/$USER/.minikube/
      sqlflow/sqlflow_models
      bash -c "curl -s https://raw.githubusercontent.com/sql-machine-learning/elasticdl/62b255a918df5b6594c888b19aebbcc74bbce6e4/scripts/validate_job_status.py | python - odps 1 2"
